* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century Gothic', sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  color: white;
  text-align: left;
  background: #112d4e;
}

nav ul {
  background: #164884;
  text-align: center;
  list-style: none;
  overflow: hidden;

}

ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
}

ul li:hover {
  background: #112d4e;
}

ul li a {
  color: white;
  text-decoration: none;
}

.hide {
  padding: 16px;
  font-size: 22px;
  
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}

h1,p{
    font-family:sans-serif;
    width:100px;
    margin:35px auto;
    text-align:center;
    color:rgb(0, 0, 0);
    transform: translateX(-100%);
  }
  p{
    width:500px;
  }
 table{
    width:400px;
    margin:0 auto;
    color:rgb(0, 0, 0);
    text-align:center;
    transform: translateX(3%);
  }
  tr{
    cursor:pointer;
  }
  .destacado{
    font-family:Arial;
    font-weight:bold;
    background-color:#fff;
  }
  
  /* Impares */

  table tr:nth-child(odd){
    background-color:#fff;
  }
  
  table tr:nth-child(odd):hover{
    color:#000;
    background-color:#fff;
  }
  /* Pares */
  
  table tr:nth-child(even){
    background-color:#fff;
  }
  
  table tr:nth-child(even):hover{
    color:#000;
    background-color:#fff;
  }
table.one {
    position: relative;
    float: left;
}
 table.two {
    position: relative;
    float: right;
}
